@model User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
</head>
<body>
    <h1>@Model.Id</h1>
    <p>Логин: @Model.UserName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Контактный телефон: @Model.PhoneNumber</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Назад</a>
</body>
</html>
