@model HotelBuilding
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p> </p>
    <div class="grid-photo-container">
        @foreach (HotelPhoto hotelPhoto in Model.GetAllHotelPhotos())
        {
            <div class="grid-photo-item">
                <img class="grid-photo-image" src="data:image/jpeg;base64,@Convert.ToBase64String(hotelPhoto.Image)" />
                @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                {
                    <a class="grid-photo-delete-link" asp-area="" asp-controller="Home" asp-action="DeleteHotelPhoto" asp-route-id="@hotelPhoto.Id">Удалить фотографию</a>
                }
            </div>
        }
    </div>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="AddHotelPhoto" asp-route-hotelBuildingId="@Model.Id">Добавить фотографию</a>
    }
    <p> </p>
    <p>Адрес: @Model.Address</p>
    <p>Контактный телефон: @Model.PhoneNumber</p>
    <p>E-mail: @Model.Email</p>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="EditHotelBuilding" asp-route-id="@Model.Id">Редактировать информацию</a>
        <br />
    }
    <p> </p>
    <h2>Номера:</h2>
    <table border=1>
        <tr>
            <th>Номер</th>
            <th>Этаж</th>
            <th>Площадь</th>
            <th>Цена</th>
            <th>Доступна</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        @foreach (Room room in Model.Rooms)
        {
            <tr>
                <td>@room.Number</td>
                <td>@room.Floor </td>
                <td>@room.Square</td>
                <td>@room.Price</td>
                <td>@room.IsAvailable</td>
                <td><a asp-area="" asp-controller="Home" asp-action="Room" asp-route-id="@room.Id">Подробнее...</a></td>
                @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                {
                    <td><a asp-area="" asp-controller="Home" asp-action="RoomAvailableChange" asp-route-id="@room.Id">Сменить доступность</a></td>
                    <td><a asp-area="" asp-controller="Home" asp-action="DeleteRoom" asp-route-id="@room.Id">Удалить</a></td>
                }
                else
                {
                    <td>Требуется авторизация для смены доступности или удаления</td>
                }
            </tr>
        }
    </table>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="AddRoom" asp-route-hotelBuildingId="@Model.Id">Добавить комнату</a>
        <br />
    }

    <a href="/Home">Вернуться на главную страницу</a>
</body>
</html>
