@model HotelInfoAndBuildings
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel</title>
</head>
<body>
    <h1>Отель "@Model.HotelInfo.Name"</h1>
    <p>@Model.HotelInfo.Description</p>
    <p> </p>
    <p>Контактный телефон: @Model.HotelInfo.PhoneNumber</p>
    <p>E-mail: @Model.HotelInfo.Email</p>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="EditHotelInfo">Редактировать информацию об отеле</a>
    }
    <div class="grid-container">
        @foreach (HotelBuilding hotelBuilding in Model.HotelBuildings)
        {
        <div class="grid-item">
            <h3>@hotelBuilding.Name</h3>
            <p>@hotelBuilding.Description</p>
            <p> </p>
            <div class="grid-photo-container">
                @foreach (HotelPhoto hotelPhoto in hotelBuilding.GetAllHotelPhotos())
                {
                    <div class="grid-photo-item">
                        <img class="grid-photo-image" src="data:image/jpeg;base64,@Convert.ToBase64String(hotelPhoto.Image)" />
                        @if (@User.Identity != null && @User.Identity.IsAuthenticated)
                        {
                            <a class="grid-photo-delete-link" asp-area="" asp-controller="Home" asp-action="DeleteHotelPhoto" asp-route-id="@hotelPhoto.Id">Удалить фотографию</a>
                        }
                    </div>
                }
            </div>
            <p> </p>
            <p>Адрес: @hotelBuilding.Address</p>
            <p>Контактный телефон: @hotelBuilding.PhoneNumber</p>
            <p>E-mail: @hotelBuilding.Email</p>
            @if (@User.Identity != null && @User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Home" asp-action="EditHotelBuilding" asp-route-id="@hotelBuilding.Id">Редактировать информацию</a>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="AddHotelPhoto" asp-route-hotelBuildingId="@hotelBuilding.Id">Добавить фотографию</a>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="DeleteHotelBuilding" asp-route-id="@hotelBuilding.Id">Удалить корпус</a>
            }
        </div>
        }
    </div>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="AddHotelBuilding">Добавить корпус отеля</a>
    }
</body>
</html>
