@model HotelInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel</title>
</head>
<body>
    <h1>Отель "@Model.Name"</h1>
    <p>@Model.Description</p>
    <p> </p>
    <p>Адрес: @Model.Address</p>
    <p>Контактный телефон: @Model.PhoneNumber</p>
    <p>E-mail: @Model.Email</p>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="SetHotelInfo">Редактировать информацию об отеле</a>
    }
</body>
</html>
