@model IEnumerable<Comment>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment</title>
</head>
<body>
    <h1>Отзывы</h1>
    <div class="grid-container">
        @foreach (Comment comment in Model)
        {
            <div class="grid-item">
                <h3>@comment.UserName</h3>
                <img src="~/rating/rating@(comment.Rating).png" />
                <p>@comment.Text</p>
                <p>Добавлено: @comment.Timestamp.ToString()</p>
                @if (@User.Identity != null && @User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <br />
                    <a asp-area="" asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">Удалить отзыв</a>
                }
            </div>
        }
    </div>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Comment" asp-action="AddComment">Оставить отзыв</a>
    }
</body>
</html>
