@model BookNewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h2>Подтвердите бронирование номера</h2>
        <p>Корпус: @Model.Room.HotelBuilding.Name</p>
        <p>Номер: @Model.Room.Number</p>
        <p>Количество человек: @Model.PersonCount</p>
        <p>Дата начала: @Model.MomentStart.ToShortDateString()</p>
        <p>Дата окончания: @Model.MomentEnd.ToShortDateString()</p>
        <form method="post">
            <input type="hidden" name="roomId" value="@Model.Room.Id" />
            <input type="hidden" name="momentStart" value="@Model.MomentStart" />
            <input type="hidden" name="momentEnd" value="@Model.MomentEnd" />
            <input type="hidden" name="personCount" value="@Model.PersonCount" />
            <input type="submit" value="Забронировать" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для бронирования номера</h2>
    }

    <a href='javascript:history.go(-1)'>Назад</a>
</body>
</html>
