@model RoomsViewData

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>
<body>
    <h2>Выберите номер</h2>
    @foreach (string floor in Model.RoomFloors.OrderBy(k => -int.Parse(k)))
    {
        <table>
            <tr>
                <td>@floor этаж</td>
                @foreach (Room room in Model.Rooms[floor].OrderBy(k => k.Number))
                {
                    <td width="@(100 / Model.Rooms[floor].Count)%">
                        <a asp-area="" asp-controller="Book" asp-action="AddBook" asp-route-roomId="@room.Id">@room.Number</a>
                        <br />
                        <p>@room.Price р.</p>
                    </td>
                }
            </tr>
        </table>
    }

    <a asp-area="" asp-controller="Book" asp-action="SelectHotelBuilding" asp-route-hotelBuildingId="@Model.HotelBuilding.Id">Назад</a>
</body>
</html>
